html { overflow:hidden; }
body, p, ul, ol, dl, dt, dd, li { margin:0; padding:0; font-size:12px; font-family:"微软雅黑",Tahoma,Arial,sans-serif; }
input { outline:none; }
a { text-decoration:none; color:#0061da; }
a:hover { color:#FF8900; }

/* 加载页面 */
.loading { position:absolute; left:0; top:0; z-index:0; width:100%; height:100%; overflow:hidden; background:#03a0e2; background:-webkit-linear-gradient(top, #03a0e2, #3ab7ff); background:-moz-linear-gradient(top, #03a0e2, #3ab7ff); opacity:0; }
.loading_center { position:absolute; left:50%; top:50%; margin:-70px 0 0 -50px; }
.loading_logo { width:100px; height:100px; background:url(img/logo.png) no-repeat 0 0; }
.loading_stxt { width:100x; height:40px; line-height:40px; color:#FFF; font-size:20px; text-align:center; text-shadow:0 0 3px #666; }
.loading_sbar { width:98px; height:1px; border:1px solid #269200; overflow:hidden; background:#62ff2b url(img/starting_bar.gif) no-repeat 0 0; }

/* 桌面页面 */
.app_button { position:relative; width:88px; height:88px; display:inline; float:left; color:white; font-size:12px; cursor:pointer; }
.app_button:hover { background:url(img/appbutton_mouseover_bg4.png) no-repeat center center; }
.app_icon { position:relative; width:48px; height:48px; overflow:hidden; margin:0 auto; cursor:pointer; background-position:center center; background-repeat:no-repeat; }
.app_icon_img { position:relative; width:100%; height:100%; overflow:hidden; background-position:center center; background-repeat:no-repeat; }
.disktop { position:absolute; left:0; top:0; z-index:1; width:100%; height:100%; opacity:1; }
.disktop_bg { position:absolute; left:0; top:0; z-index:0; width:100%; height:100%; overflow:hidden; }
.disktop_bg img { display:block; width:100%; height:100%; }
.disktop .left_bar { position:absolute; left:-73px; top:0; z-index:1; width:73px; height:100%; }
.dock_container { position:absolute; left:0; top:50%; width:73px; height:576px; margin:-290px 0 0; }
.dock_pos_left .dock_middle { background:url(img/dock_l.png) no-repeat 0 0; }
.dock_middle { height:566px; padding-top:10px; }
.dock_item_list { float:left; height:380px; width:65px; }
.dock_container .app_button { width:58px; height:58px; margin:2px 3px 2px 4px; padding:0; }
.dock_container .app_icon { margin:5px auto 0; }

/* 登录层 */
.ui_mask { position:absolute; left:0; top:0; z-index:2; width:100%; height:100%; background:black; display:none; transition:1s all ease; opacity:0; }
.ui_boxy { position:absolute; left:0; top:0; border:1px solid #CCC; border-radius:10px; background:#F6F6F6; box-shadow:0 0 8px #000; display:none; }
.ui_boxy .close { position:absolute; right:-10px; top:-10px; z-index:1; }
.ui_boxy_close { width:28px; height:28px; background:url(img/boxy_btn.png) no-repeat 0 0; cursor:pointer; }
.ui_boxy_qq { width:380px; height:270px; }
.ui_boxy_wrap { padding:10px; }
.login_content_area { overflow:hidden; background:#F6F6F6; }
.login_logo_qq, .login_logo_webqq { width:200px; height:44px; margin-left:90px; cursor:move; background:url(img/login_window_logo.png) no-repeat 0 0; }
.login_logo_qq { background-position:-200px 0; }
.login_window_wrap { width:100%; text-align:center; }
.signin { float:none; margin:0 auto; padding:0; width:360px; clear:both; }
.signin .subcolumn02 { width:356px; padding-bottom:10px; overflow:hidden; }
.signin .subcolumn02 .signin_area { margin:0 0 0 40px; padding:1px 17px; }
.signin .subcolumn02 .signin_area_bg { float:left; width:296px; }
.signin .subcolumn02 .signin_area_bg .padder { margin:8px 0 0; }
.signin .subcolumn02 .signin_area_bg .padder .sign_input { margin:14px 0 0; zoom:1; }
.signin .subcolumn02 .signin_area_bg .padder .sign_input:after { content:""; display:block; clear:both; }
.signin .subcolumn02 .signin_area_bg .padder span.title { width:60px; height:20px; float:left; margin-right:5px; text-indent:-999em; background:url(img/login_btn.png) no-repeat 0 0; }
.signin .subcolumn02 .signin_area_bg .padder span.account { background-position:0 -36px; }
.signin .subcolumn02 .signin_area_bg .padder span.password { background-position:-60px -36px; }
.signin .subcolumn02 .signin_area_bg .padder span.input { display:block; float:left; }
.signin .subcolumn02 .signin_area_bg .padder span.link { line-height:24px; }
.signin .subcolumn02 .signin_area_bg .padder .input01 { width:170px; border:1px solid #CCC; padding:2px 5px; font-size:16px; color:#868686; }
.signin .subcolumn02 { padding-top:20px; }
.signin .subcolumn03 { zoom:1; }
.signin .subcolumn03:after { content:""; display:block; clear:both; }
.signin .subcolumn03 .left { float:left; }
.signin .subcolumn03 .middle { float:left; }
.middle_padder { width:280px; }
.signin .subcolumn03 .middle .middle_padder { float:left; padding:15px 0 0 55px; }
.signin .subcolumn03 .middle .signin_btn { width:111px; height:36px; line-height:20px; margin-left:14px; text-align:center; border:none; cursor:pointer; color:#0C4E7C; background:url(img/login_btn.png) no-repeat -111px 0; }
.signin .subcolumn03 .middle .signin2 { float:left; margin-left:0; }
.login_state_trigger { display:block; width:120px; height:16px; float:left; margin:4px 0 0; overflow:hidden; cursor:pointer; }
.login_state_trigger2 { margin:10px 0 0 20px; }
.login_state_show { width:14px; height:14px; float:left; margin:1px 4px 0 0; text-indent:-999em; overflow:hidden; }
.login_state .online { background:url(img/ptlogin.png) no-repeat 0 0; }
.login_state_down { float:left; width:7px; height:6px; text-indent:-999em; overflow:hidden; margin-top:5px; background:url(img/ptlogin.png) no-repeat 0 -22px; }
.login_state_txt { float:left; margin-left:5px; }
.err_m { display:none; color:#FF0000; }

/* 主程序 */
.disktop_wrap { position:relative; top:0; left:0; right:0; z-index:3; }
.desktop_container { position:absolute; left:0; top:0; width:100%; height:100%; }
.desktop_container .desktop_current { display:block; left:0; }
.window { position:absolute; left:-999999px; top:-999999px; overflow:hidden; padding:0; background:url(img/transparent.gif) repeat 0 0; display:none; }
.window_outer { position:absolute; left:0; top:0; right:0; bottom:0; padding:10px; }
.window_inner { position:relative; width:100%; height:100%; }
.window_bg_container { position:absolute; left:0; top:0; width:100%; height:100%; border:none; margin:0; padding:0; z-index:-1; }
.eqq_window .window_bg_container { background:#e8ebf1 url(img/bg2.png) repeat-x 0 0; border:1px solid #3E7186; border-radius:5px; }
.window_content { position:relative; width:100%; height:100%; border:1px solid #999; border-radius:5px; margin:0; overflow:hidden; }
.eqq_window .window_content { position:static; margin:1px; border:none; border-radius:0; box-shadow:none; }
.window_title_bar { height:25px; border-radius:3px 3px 0 0; cursor:default; background:url(img/sprite_repeat_x_png.png) repeat 0 -1px; }
.window_current .window_title_bar { background:url(img/sprite_repeat_x_png.png) repeat 0 -31px; }
.eqq_window .window_title_bar, .window_current .eqq_window .window_title_bar { background:none; margin:5px; }
.window_title_button_bar { position:absolute; right:5px; top:4px; overflow:hidden; }
.eqq_window .window_title_button_bar { position:absolute; right:2px; top:-1px; }
.ui_button { float:right; width:66px; height:23px; line-height:23px; margin-left:10px; text-align:center; cursor:pointer; color:#333; background:url(img/portal_all_png.png) no-repeat 0 -220px; }
a.window_close { float:right; width:16px; height:16px; margin-left:4px; display:none; cursor:pointer; }
a.window_action_button { width:21px; height:19px; background:url(sprite_main_png.png) no-repeat -122px -22px; }
a.window_close { background-position:-64px -59px; }
.eqq_window a { color:#000000; }
.eqq_window .window_close { float:right; width:39px; height:20px; margin:0; background:url(img/sprite.png) repeat 0 -784px; display:block; }
.eqq_window .window_close:hover { background-position:0 -744px; }
.eqq_window .window_min { float:right; width:28px; height:20px; margin:0; background:url(img/sprite.png) repeat 0 -944px; }
a.window_min:hover { background-position:-5px -30px; }
.eqq_window .window_min:hover { background-position: 0 -904px; }
.window_title { letter-spacing:1px; line-height:25px; overflow:hidden; }
.title_text, a.title_text { color:#6D6D6D; font-weight:bold; }
.window_title { height:25px; text-align:center; }
.window_current .title_text, .window_current a.title_text { color:#393836; }
.eqq_window .window_title { line-height:15px; text-align:left; }
.window_body_outer { position:absolute; top:25px; bottom:0; width:100%; border-top:1px solid #ccc; }
.eqq_window .window_body_outer { background:none; border:none; width:100%; height:100%; top:25px; }
.window_body_area { position:absolute; top:0; bottom:0; overflow:hidden; background:none; width:100%; height:100%; }
.eqq_my_panel { position:relative; height:50px; margin:5px; overflow:hidden; }
.eqq_my_avatar { position:relative; float:left; width:40px; height:40px; display:inline; padding:1px; overflow:hidden; background:#FFF; border:1px solid #999; box-shadow:1px 1px 3px #666; cursor:pointer; }
.eqq_my_info { height:16px; margin:3px 0 0 52px; overflow:hidden; }
.eqq_my_state { float:left; width:30px; height:16px; overflow:hidden; cursor:pointer; display:block; }
.eqq_my_state_show { width:15px; height:16px; float:left; overflow:hidden; text-indent:-999em; }
.eqq_online { background:url(img/eqq_sprite.gif) no-repeat 1px 3px; }
.eqq_my_state_down { float:left; width:7px; height:6px; margin-top:5px; text-indent:-999em; overflow:hidden; background:url(img/eqq_sprite.gif) no-repeat 0px -22px; }
.eqq_my_nick { float:left; width:90px; height:16px; line-height:16px; font-weight:bold; box-decoration-break:#030303; cursor:default; overflow:hidden; }
.eqq_my_service { float:left; height:22px; margin:3px 0 0 8px; }
.eqq_my_signature_wraper { position:relative; left:1px; top:1px; height:20px; color:#000; overflow:hidden; }
.eqq_my_signature { background:none; border:none; cursor:pointer; display:block; width:100%; height:20px; line-height:20px; margin:0; outline:none; }
.eqq_my_signature_hover { background:url(img/hover.png) repeat-x 0 0; border:1px solid #B3B3B3; left:0; top:0; }
.eqq_my_signature_wraper.eqq_my_signature_edit .eqq_my_signature { background:#FFFFFF; cursor:text; }
.eqq_mypanel_toolbar { height:20px; margin:2px 0 4px; }
.eqq_mypanel_toolbar_button { position:relative; left:1px; top:1px; float:left; width:18px; height:18px; margin:0 4px 0 2px; }
.eqq_mypanel_toolbar_icon { background:url(img/eqq_sprite_png.png) no-repeat -2px -352px; float:left; height:16px; margin:1px; width:16px; }
.eqq_mypanel_toolbar_mail { background-position:-22px -352px; }
.eqq_main_panel { overflow:hidden; position:relative; }
.eqq_login_success { height:100%; display:block; overflow:hidden; margin:0; padding:0; }
.eqq_search_bar { display:block; height:25px; border:1px solid #75A2B7; margin:1px 1px 2px; overflow:hidden; }
.eqq_search_box { width:100%; height:16px; line-height:16px; border:0 solid #ccc; font-size:12px; color:#999; padding:5px; margin:0; overflow:hidden; }
.eqq_search_button { position:relative; float:right; display:inline; margin:-21px 2px 0 0; width:16px; height:16px; overflow:hidden; text-indent:-999em; cursor:pointer; background:url(img/eqq_sprite_png.png) no-repeat -122px -82px; }
.eqq_search_button_hight_light { background-position:-142px -82px; }
input.eqq_search_box_hover { width:100%; height:16px; line-height:16px; padding:5px 2px; border:0 solid #A2D0F1; font-size:12px; overflow:hidden; color:#999; }
.eqq_tab { background:#BADBEA; float:left; height:33px; margin:0; overflow:hidden; width:100%; }
.eqq_tab_buddy_list { cursor:pointer; display:inline; float:left; height:100%; overflow:hidden; position:relative; text-align:center; width:33%; }
.eqq_tab .current { background:#EAF3F8; cursor:default; }
.eqq_tabmenu_icon { background:url(img/eqq_sprite.gif) no-repeat 0 -558px; cursor:pointer; display:none; float:right; height:100%; position:absolute; right:0; top:0; width:22px; }
.eqq_tabmenu_icon:hover { background-color:#CDE6F0; }
.eqq_tab .current .eqq_tabmenu_icon { display:block; }
.eqq_tab_buddy_list_icon { background:url(img/eqq_sprite.gif) no-repeat -40px -174px; height:33px; margin:0 auto; width:20px; }
.eqq_tab .current .eqq_tab_buddy_list_icon { background-position:-40px -214px; }
.eqq_list_container { position:relative; float:left; width:100%; height:100%; overflow:hidden; }
.eqq_buddy_list_panel { background:#F5FAFD; overflow-x:hidden; overflow-y:auto; width:100%; height:100%; }
.eqq_buddy_list { display:block; width:100%; height:auto; top:0; bottom:30px; overflow-x:hidden; overflow-y:hidden; }
.eqq_list_class_head_collapsed, eqq_online_class_head_collapsed { display:block; height:30px; line-height:30px; overflow:hidden; border:none; color:#000; cursor:pointer; margin:0 3px; }
.eqq_list_class_head_icon { float:left; width:18px; height:16px; margin:7px 0; text-indent:-999em; overflow:hidden; }
.eqq_list_class_head_collapsed .eqq_list_class_head_icon { background:url(img/eqq_sprite.gif) no-repeat -12px -16px; }
.eqq_list_class_head_expand, .eqq_online_class_head_expand { display:block; height:30px; line-height:30px; margin:0 3px; border:none; color:#000; overflow:hidden; cursor:pointer; }
.eqq_list_class_head_expand .eqq_list_class_head_icon { background:url(img/eqq_sprite.gif) no-repeat 5px -16px; }
.eqq_class_list_right_container { display:block; overflow:hidden; padding-left:2px; }
.eqq_class_class_name { float:left; width:auto; }
.eqq_list_class_body { height:0; overflow:hidden; }
.eqq_callme_buddy, .eqq_online_buddy, .eqq_away_buddy, .eqq_busy_buddy, .eqq_silent_buddy, .eqq_offline_buddy { display: none; }
.eqq_buddy_list_buddy { display:block; height:20px; padding:4px 0 4px 8px; overflow:hidden; text-decoration:none; color:#000; background:none; cursor:pointer; }
.eqq_buddy_list_buddy:hover { background:rgb(201, 231, 252); }
.eqq_list_big_head .eqq_buddy_list_buddy, .eqq_list_big_head .eqq_group_list_group { height:40px; padding-bottom:6px; padding-top:6px; }
.eqq_buddy_list_client_type, .eqq_recent_list_client_type { float:left; height:22px; overflow:hidden; width:16px; }
.eqq_list_big_head .eqq_buddy_list_client_type, .eqq_list_big_head .eqq_recent_list_client_type { margin:10px 0 0; }
.eqq_buddy_list_client_type_phone_qq, .eqq_buddy_list_client_type_phone { background:url(img/eqq_sprite_png.png) no-repeat -24px -143px; float:left; height:16px; margin:5px 0 0; overflow:hidden; width:12px; }
.eqq_buddy_list_avatar_container { float:left; width:22px; height:22px; overflow:hidden; }
.eqq_list_big_head .eqq_buddy_list_avatar_container, .eqq_list_big_head .eqq_group_list_avatar_container { width:42px; height:42px; }
img.eqq_buddy_list_avatar { position:static; display:block; float:left; width:20px; height:20px; overflow:hidden; border:0 solid #E1E1E1; padding:1px; }
.eqq_list_big_head img.eqq_buddy_list_avatar, .eqq_list_big_head img.eqq_group_list_avatar, .eqq_list_big_head .eqq_discu_list_avatar { height:40px; width:40px; }
.eqq_buddy_list_right_container { margin-right:10px; overflow:hidden; }
.eqq_buddy_list_nick, .eqq_buddy_list_sign, .eqq_group_list_bulletin { width:1000px; height:16px; line-height:16px; padding:2px 0; margin:0 0 0 5px; overflow:hidden; text-decoration:none; }
.eqq_buddy_list_sign, .eqq_group_list_bulletin { color:#808080; display:none; }
.eqq_list_big_head .eqq_buddy_list_sign, .eqq_list_big_head .eqq_group_list_bulletin { display:block; }
.eqq_jump_up_in_buddy_list .eqq_buddy_list_avatar_container { margin:-2px 0 0; }
.eqq_offline_buddy .eqq_buddy_list_avatar { opacity:0.5; display:block; }
.eqq_buddy_list_uid { display:none; }
.user_list_buddy .eqq_buddy_list_client_type { display:none; }
.eqq_list_bottom { position:absolute; bottom:0; left:0; z-index:1; width:100%; height:25px; overflow:hidden; background:#DFEEF6; border-bottom-left-radius:5px; border-bottom-right-radius:5px; }
.search_buddy { color:#333333; cursor:pointer; display:inline; float:left; height:15px; line-height:15px; margin:6px 4px 4px; overflow:hidden; text-indent:4px; }
.search_buddy div { background:url(img/eqq_sprite_png.png) no-repeat -2px -82px; display:inline; float:left; height:16px; overflow:hidden; width:16px; }
.message_manage_icon { color:#333333; cursor:pointer; display:inline; float:left; height:16px; line-height:16px; margin:5px; text-indent:4px; }
.message_manage_icon_div { background:url(img/eqq_sprite_png.png) no-repeat -162px -82px; display:inline; float:left; height:16px; overflow:hidden; width:16px; }
.window_main { width:280px; height:auto; left:0; top:0; z-index:0; }
.window_main .window_outer { padding:10px; }

/* 弹窗 */
.eqq_window { padding:10px; height:281px; z-index:27; }
.window_bg_container.chatform_bg, .chatform_bg { background:rgb(244, 249, 252) url(img/bg.png) repeat-x 0 0; }
.window_title_bar.chatform_title_bar, .chatform_title_bar { height:83px; }
a.window_max { background-position:-34px -59px; }
a.window_max:hover { background-position:-34px -30px; }
.eqq_window .window_max { float:right; width:28px; height:20px; margin:0; background:url(img/sprite.png) repeat 0 -864px; display:none; }
.eqq_window .window_max:hover { background-position: 0 -824px; }
.window_title.title_text.chatform_title_text { height:83px; }
.chat_box_buddy_avatar_area { float:left; width:34px; height:34px; }
.avatar_in_chatbox { position:static; float:left; display:block; width:30px; height:30px; padding:1px; border:1px solid #CACACA; background:white; overflow:hidden; }
.chat_box_name_area { height:16px; line-height:16px; margin-left:38px; overflow:hidden; }
.chat_box_all_name { display:block; float:left; height:16px; line-height:16px; }
.chatform_state { display:inline; display:none; }
.chat_box_client_type_phone_qq, .chat_box_client_type_phone { background:url(img/eqq_sprite_png.png) no-repeat -22px -142px; height:16px; margin:5px 0 0; overflow:hidden; width:12px; }
.chat_box_more_info_area { height:18px; line-height:18px; margin:0 0 0 38px; overflow:hidden; }
a.eqq_chatbox_qzone_icon { background:url(img/portal_all_png.png) no-repeat -62px -62px; display:block; float:left; height:16px; overflow:hidden; text-indent:-999em; width:16px; }
.chat_box_announcement_area { display:block; font-weight:normal; font-family:"宋体"; height:16px; line-height:16px; margin:0 0 0 18px; overflow:hidden; }
.chat_box_button_bar { margin:6px 0 0; zoom:1; }
.chat_box_button_bar:after { content:""; display:block; clear:both; }
.chat_box_button_bar a { float:left; display:block; width:36px; height:36px; margin:0 2px 0 0; list-style:none; }
.chat_box_button_bar a:hover { background:url(img/sprite.png) repeat 0 -436px; }
a.chat_box_menu_button { width:44px; }
.chat_box_send_file_button { float:left; width:28px; height:28px; margin-left:2px; margin-top:5px; cursor:pointer; background:url(img/eqq_sprite_png.png) no-repeat -70px -380px; }
.chat_box_main_area { position:relative; margin:0; height:100%; background:none; }
.chat_box_chat_board { position:absolute; left:0; top:0; bottom:143px; width:100%; overflow:hidden; }
.chat_box_msg_list { position:absolute; top:0; bottom:0; display:block; width:100%; margin:0 auto; overflow:auto; }
.chat_box_my_msg { display:block; margin:0; padding:5px; }
.chat_box_my_msg .msg_head { color:#008000; overflow:hidden; font-family:"宋体"; }
.chat_box_buddy_msg { display:block; margin:0; padding:5px; }
.chat_box_buddy_msg .msg_head { color:#0000FF; }
.chat_box_buddy_msg .msg_body { color:#000000; margin:0 0 0 13px; word-wrap:break-word; }
.chat_box_sys_msg { display:block; margin:0; padding:5px; }
.chat_box_sys_msg dt.msg_head, .chat_box_sys_msg dd.msg_body { color:#ccc; overflow:hidden; font-family:"宋体"; }
.msg_head .date { margin-left:5px; }
.chat_box_my_msg .msg_body { color:#000000; margin:0 0 0 13px; word-wrap:break-word; }
.chat_box_buddy_msg .default_font_style, .chat_box_my_msg .default_font_style { color:#000000; font-family:"宋体"; font-size:10pt; font-style:normal; font-weight:normal; text-decoration:none; }
img.eqq_face_img { height:24px; position:static; width:24px; }
.chat_box_tool_bar_top { position:absolute; left:0; bottom:138px; width:100%; height:5px; line-height:5px; margin:0 auto; overflow:hidden; text-indent:-9999px; font-size:0; cursor:n-resize; background:#D3E8F3; }
.chat_box_tool_bar { position:absolute; left:0; bottom:115px; margin:0 auto; width:100%; height:25px; overflow:hidden; background:#D3E8F3; }
.chat_box_tool_bar a { border:1px solid #D3E8F3; display:block; float:left; height:20px; margin:0 2px; width:20px; }
.chat_box_tool_bar a:hover { background:url(img/hover.png) repeat 0 0; border:1px solid #848F97; border-radius:1px 1px 1px 1px; display:block; }
.chat_box_font_button { background:url(img/eqq_sprite_png.png) no-repeat 0 -60px; height:100%; width:100%; }
.chat_box_face_button { background:url(img/eqq_sprite_png.png) no-repeat -20px -60px; height:100%; width:100%; }
.chat_box_shake_button { background:url(img/eqq_sprite_png.png) no-repeat -140px -60px; cursor:pointer; float:left; height:20px; width:20px; }
.chat_box_send_pic_button { background:url(img/eqq_sprite_png.png) no-repeat -60px -60px; height:100%; width:100%; }
.chat_box_send_pic_button input { display:none; }
.chat_box_clear_button { background:url(img/eqq_sprite_png.png) no-repeat -80px -60px; height:100%; width:100%; }
.chat_box_history_button_con { float:right !important; margin:0 5px !important; width:90px !important; }
.chat_box_history_button { background:url(img/eqq_sprite_png.png) no-repeat -100px -60px; cursor:pointer; float:left; height:20px; width:20px; }
.chat_box_history_buttontxt { color:#000000; float:left; margin:0 5px; }
.chat_box_input_box { bottom:28px; display:block; font-size:12px; height:85px; left:0; margin:0 auto; overflow:hidden; padding:1px 0; position:absolute; width:100%; }
.rich_editor { color:#000000; font-family:宋体; font-size:10pt; font-style:normal; font-weight:normal; height:100%; margin-left:3px; text-decoration:none; }
.rich_editor_div, .rich_editor_text { border:none; display:block; height:100%; margin:0; outline:none; overflow-x:hidden; overflow-y:auto; padding:0; width:100%; word-break:break-all; word-wrap:break-word; }
.rich_editor_div * { color:inherit !important; display:inline; float:none; font:inherit !important; margin:0 !important; padding:0 !important; position:static; text-decoration:inherit !important; }
.chat_box_control_panel { background:#E0EFF6; border-bottom-left-radius:5px; border-bottom-right-radius:5px; border-top:1px solid #CDE5F1; bottom:0; left:0; overflow:hidden; position:absolute; width:100%; }
.chat_box_close_button { background:url(img/sprite.png) no-repeat 0 -702px; display:block; float:right; height:22px; line-height:20px; margin:5px 5px 4px 0; overflow:hidden; text-align:center; width:69px; }
.chat_box_close_button:hover { background:url(img/sprite.png) no-repeat 0 -660px; }
.chat_box_send_msg_button { background:url(img/sprite.png) no-repeat 0 -534px; display:block; float:right; height:22px; line-height:20px; margin:5px 0 4px; overflow:hidden; text-align:center; width:64px; }
.chat_box_send_msg_button:hover { background:url(img/sprite.png) no-repeat 0 -492px; }
.chat_box_send_option_button { background:url(img/sprite.png) no-repeat 0 -618px; display:inline; float:right; height:22px; line-height:20px; margin:5px 8px 4px 0; overflow:hidden; text-align:center; width:19px; }
.chat_box_send_option_button:hover { background:url(img/sprite.png) no-repeat 0 -576px; }
.window_chat { width:445px; height:450px; }
.file_binary, .rich_editor_div .file_binary { width:40px; height:40px; overflow:hidden; line-height:400px; background:url(img/file.png) no-repeat; }

/* 右下角图标 */
.bottom_bar { position:absolute; right:0; bottom:0; z-index:12; height:64px; display:none; }
.task_container { float:right; width:114px; height:64px; overflow:hidden; }
.task_container_inner { float:right; width:114px; height:100%; margin-right:0; transition:0.5s ease all; }
.bottom_bar .task_group { float:right; width:0; height:100%; overflow:hidden; transform:0.5 ease all; }
.bottom_bar .task_group_ana_width { width:114px; }
.task_item_box { display:block; }
.task_item { float:left; display:block; width:112px; height:100%; margin:0 1px; vertical-align:middle; background:url(img/bg_task_nor.png) no-repeat 0 0; }
.bottom_bar .task_current .task_item { background:url(img/bg_task_cur.png) no-repeat 0 0; }
.bottom_bar .task_group .task_item { transition:.5s all ease; }
.bottom_bar .task_group .task_item:hover { background:url(img/bg_task_over.png) no-repeat 0 0; }
.task_item_icon { float:left; width:32px; height:32px; margin:22px 5px; cursor:pointer; background-position:center center; background-repeat:no-repeat; }
.task_item_icon img { cursor:pointer; float:left; height:32px; width:32px; }
.task_item_txt { float:left; width:70px; height:36px; line-height:36px; margin-top:27px; overflow:hidden; color:#FFF; cursor:pointer; }

/* 底部新消息提示 */
.bubble_container { position:absolute; left:50%; bottom:10px; margin:auto auto auto -150px; width:300px; height:32px; cursor:move; font-family:tahoma; background:url(img/msgbubble_bg.png) no-repeat 0 1px; display:none; }
.bubble_panel { color:#FFF; cursor:auto; height:22px; line-height:20px; margin:5px 8px; }
.bubble_panel .icon { float:left; display:block; width:16px; height:16px; margin:3px 4px 0; vertical-align:middle; background:url(img/msgbubble_icons.png) no-repeat 0 0; }
.bubble_panel .setting { background-position:0 -64px; cursor:pointer; float:right; margin-top:5px; }
.bubble_panel .item { cursor:pointer; }
.bubble_panel .single { background-position:0 -16px; }
.bubble_panel .item .body { float:left; display:block; width:170px; height:20px; margin-right:20px; overflow:hidden; vertical-align:middle; color:#FFF; }
.bubble_panel .item .count { display:inline-block; }
.bubble_msg_list { position:absolute; left:10px; bottom:30px; width:280px; height:210px; display:none; cursor:default; background:url(img/msgbubble_list_bg.png) no-repeat 0 0; }
.bubble_msg_list h3 { color:#FFFFFF; font-size:12px; height:24px; line-height:24px; margin:0; padding:0 0 0 12px; }
.bubble_msg_list .bubble_msg_list_inner { background:#FFFFFF url(img/msgbubble_list_bg_inner.png) repeat-x 0 0; height:180px; margin:0 auto; width:270px; }
.bubble_msg_list .bubble_msg_list_container { height:155px; overflow-y:auto; }
.bubble_msg_list ul { padding:12px 5px 0; }
.bubble_msg_list ul, .bubble_msg_list li { list-style:none; margin:0; padding:0; }
.bubble_msg_list .item { cursor:pointer; }
.bubble_msg_list_container a { display:block; padding:3px 5px 3px 7px; text-decoration:none; color:#45649E; }
.bubble_msg_list_container a:hover { background:#CBE7FC; color:#45649E; }
.bubble_msg_list .item .count { color:#45649E; float:right; }
.bubble_msg_list .item .avatar { height:20px; margin-right:8px; vertical-align:middle; width:20px; }
.bubble_msg_list .item .system { background:url(img/msgbubble_system_avatar.png) no-repeat 0 0; display:inline-block; height:16px; margin:2px 8px 0 2px; width:16px; }
.bubble_msg_list .item .content { cursor:pointer; display:inline-block; overflow:hidden; vertical-align:middle; width:170px; }
.bubble_msg_list .item .content .content_inner { display:block; width:20000px; }
.bubble_msg_list .bubble_msg_buttons { height:20px; padding:3px 8px 0 12px; }
.bubble_msg_buttons a { text-decoration:none; }
.bubble_msg_buttons .cancel_notify { float:left; }
.bubble_msg_buttons .view_all { float:right; }

/* 查找好友 */
.window_find .eqq_window .window_bg_container { background:#F5FAFC url(img/bg3.png) repeat-x 0 0; border:1px solid #3E7186; border-radius:5px 5px 5px 5px; }
.window_find .eqq_window .window_title_button_bar { position:absolute; right:2px; top:-1px; }
.content_area { background-color:transparent; bottom:0; left:0; overflow:hidden; position:absolute; right:0; top:0; z-index:0; }
.buddy_finder_tab_head_area { border-bottom:1px solid #A1B4B0; height:22px; line-height:22px; padding:5px 0 0; width:100%; }
.buddy_finder_tab_head_area div { cursor:pointer; display:block; float:left; height:22px; line-height:22px; margin:1px 1px 0 6px; text-align:center; width:80px; }
.buddy_finder_tab_head_area div.current { background:#FFF url(img/tab_background.gif) repeat-x left top; border-color:#A1B4B0; border-style:solid; border-width:1px 1px 0; margin:0 0 0 5px; }
.finder_body .finder_container { border:none; top:0; }
.finder_body .s_box { margin:20px 0 0 20px; }
.buddy_finder_endline { color:black; height:20px; line-height:20px; margin-bottom:5px; position:relative; }
.line { border:1px solid #CBD3D4; color:#CBD3D4; height:0px; left:67px; line-height:20px; margin:0; position:absolute; top:9px; width:440px; }
.finder_body .s_option_box { line-height:25px; margin-left:30px; vertical-align:middle; font-family:"宋体"; }
.finder_body .s_option_box span { display:inline-block; vertical-align:middle; }
.finder_body .type_input { line-height:26px; margin:3px 0; padding:0; vertical-align:middle; width:20px; }
.finder_body .s_ip_box { margin:10px 0 0 35px; }
.finder_body .s_ip_box_txt { margin:5px 0; }
.finder_body .gray { color:#9E9E9E; }
.finder_body .search_input { border:1px solid #738EA4; height:23px; line-height:23px; vertical-align:middle; width:420px; padding-left:5px; }
.eqq_window .window_control_area, .window_current .eqq_window .window_control_area { background:none; border:none; height:26px; }
.window_control_area { border-radius:0 0 3px 3px; border-top:1px solid #CCCCCC; bottom:0; height:26px; padding:3px 0 0; position:absolute; width:100%; }
.eqq_window .window_button { background:url(img/sprite.png) no-repeat 0 -702px; height:22px; line-height:20px; margin:0 10px 0 0; width:69px; }

/* 搜索结果 */
.finder_body .r_box { margin:20px 0 0 20px; display:none; }
.finder_body .result_box { float:left; height:260px; margin-top:15px; overflow-x:hidden; overflow-y:auto; position:relative; width:510px; }
.finder_body .result_template { display:none; }
.buddy_finder_tiny_info { height:40px; margin-bottom:5px; width:510px; }
.buddy_finder_tiny_info_fix { background-color:#EDEFEF; }
.buddy_finder_tiny_info_info { float:left; height:40px; position:relative; width:280px; }
.buddy_finder_tiny_info_info_avatar { background:white; border:1px solid #DDDDDD; float:left; height:24px; margin:5px 5px 0 0; padding:1px; width:24px; }
.buddy_finder_tiny_info_info_t { font-size:12px; height:20px; line-height:20px; margin-left:5px; }
.buddy_finder_tiny_info_info_t_showname { display:block; float:left; margin:0 8px 0 0; width:auto; }
.buddy_finder_tiny_info_info_d { font-size:12px; height:20px; line-height:20px; margin-left:5px; }
.buddy_finder_tiny_info_info_d span.nbsp { display:inline; float:left; height:20px; margin-right:20px; width:auto; }
.buddy_finder_tiny_info_info_d span.nbsplast { display:block; height:20px; overflow:hidden; }
.buddy_finder_tiny_info_button { display:inline; float:left; height:40px; width:167px; }
.buddy_finder_tiny_info_button_l { background:url(img/search_detail_icon.png) no-repeat 6px 5px; cursor:pointer; display:inline; float:left; height:24px; line-height:24px; text-indent:26px; width:80px; }
.buddy_finder_tiny_info_button_r { background:url(img/search_add_icon.png) no-repeat 6px 5px; cursor:pointer; display:inline; float:left; height:24px; line-height:24px; margin-left:5px; text-indent:26px; width:80px; }

/* 添加好友弹层 */
.window_add_firend .eqq_window .window_bg_container { background:#F5FAFC url(img/bg3.png) repeat-x 0 0; border:1px solid #3E7186; border-radius:5px 5px 5px 5px; }
.buddy_adder_area { height:100%; left:0; position:absolute; top:0; width:100%; z-index:0; }
.buddy_adder_area_panel { margin-left:25px; margin-top:3px; }
.buddy_adder_area_p13 { font-size:13px; margin:10px 0 5px; }
.buddy_adder_area_avatar { background:white; border:1px solid #DDDDDD; cursor:pointer; display:inline; float:left; height:40px; margin-right:5px; padding:1px; width:40px; }
.buddy_adder_area_nick { cursor:pointer; font-weight:bold; height:22px; }
.buddy_adder_area_rename { color:#666666; height:24px; line-height:24px; margin:40px 0 0 24px; padding:0; }
.buddy_adder_area span { float:left; }
.buddy_adder_area .buddy_adder_area_input, .buddy_adder_area .buddy_adder_area_popup { border-color:#999999 #CCCCCC #CCCCCC #999999; border-style:solid; border-width:1px; float:left; height:20px; margin-left:3px; width:220px; }
.buddy_adder_area_categories { color:#666666; height:24px; line-height:24px; margin:10px 0 0 24px; padding:0; }
.buddy_adder_area_popup .text { display:inline; float:left; }
.buddy_adder_area_arr { float:right; height:18px; line-height:18px; text-indent:-99999px; width:18px; }
.div_select_arr { background:url(img/bg_sel_arr.gif) no-repeat 0 0; }

/* 添加好友审核弹层 */
.window_adder_audit {}
.window_adder_audit .eqq_window .window_bg_container { background:#F5FAFC url(img/bg3.png) repeat-x 0 0; border:1px solid #3E7186; border-radius:5px 5px 5px 5px; }
.buddy_adder_area_msg { color:#666666; margin:10px 0 0 55px; padding:0; }
.buddy_adder_area_panel label { display:block; float:none; }
.buddy_adder_area_aradio input, .buddy_adder_area_aradio span { vertical-align:middle; }
.buddy_adder_area span.buddy_adder_area_lable_text { float:none; }
.buddy_adder_area_rename2 { color:#666666; height:24px; line-height:24px; margin:2px 0 0 24px; padding:0; }
.buddy_adder_area_categories2 { color:#666666; height:24px; line-height:24px; margin:2px 0 0 24px; padding:0; }
.buddy_adder_area_msg2 { color:#666666; margin:10px 0 0 15px; padding:0; }
.buddy_adder_area_q_input { border-color:#999999 #CCCCCC #CCCCCC #999999; border-style:solid; border-width:1px; height:20px; width:220px; resize:none; }
.buddy_adder_area .buddy_adder_area_q_input, .buddy_adder_area .buddy_adder_area_msg_input { margin-left:0; visibility:hidden; visibility:visible }